.Filter {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content:left;
  flex-wrap: wrap;
  align-items:flex-start;
  margin-left: 20px;
}
#none {
  padding: 5px;
  font-size: 15px;
  font-weight:lighter;
  background-color: #F0F2F4 ;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: #9A9CA2;
  margin-top: 5px;
}
#selectedd {
  padding: 5px;
  font-size: 15px;
  font-weight:lighter;
  background-color: #93C759;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: #FFFFFF;
  margin-top: 5px;
}
#none:hover {
  padding: 5px;
  font-size: 15px;
  font-weight:lighter;
  background-color: #F0F2F4 ;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: #9A9CA2;
  margin-top: 5px;
}

#selectedd:hover {
  padding: 5px;
  font-size: 15px;
  font-weight:lighter;
  background-color: #93C759 ;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  color: #FFFFFF;
  margin-top: 5px;
}

.recipe {
  width: 100%;
}
#title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
